<div>

  	<% if @visitor == '' || @visitor == nil %>
    <form action="/game">
      What's your name?
      <input id = 'name', type='text', name='name'>
      <input type='submit', value='Submit'>
    </form>
    <%= @visitor %>
    <% else %>
    Registration successful
    <a href="/game/new">Go to game</a>
  	<% end %>
</div>
